@font-face {
    font-family: 'Lato-Hairline';
    src: url('../fonts/Lato-Hairline.ttf');
}

.main {
    -fx-background-color: #FFFFFF;
}

.title {
    -fx-font-family: 'Lato-Hairline';
    -fx-font-size: 30pt;
    -fx-text-fill: #000000;
}

.status-label {
    -fx-font-family: 'Lato-Hairline';
    -fx-font-size: 18pt;
    -fx-text-fill: #000000;
}