/*
Program developed by Hassan Althaf.
Copyright © 2015, Hassan Althaf.
Website: http://hassanalthaf.com
*/
/* 
    Created on : Dec 19, 2015, 11:29:50 PM
    Author     : hassan
*/
@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.ttf');
}

.menu-bar {
    -fx-background-color: #3498DB;
}

.menu:hover {
    -fx-background-color: #51A7E0;
}

.menu:showing {
    -fx-background-color: #2487C9;
}

.menu .label {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Lato-Regular';
    -fx-font-size: 10pt;
}

.menu-item {
    -fx-background-color: #FFFFFF;
}

.menu-item:hover {
    -fx-background-color: #51A7E0;
}

.menu-item .label {
    -fx-text-fill: #333333;
    -fx-font-family: 'Lato-Regular';
    -fx-font-size: 10pt;
}

.menu-item:hover .label {
    -fx-text-fill: #FFFFFF;
}

.anchor-pane {
    -fx-background-color: #FFFFFF;
}

.button {
    -fx-background-color: #3498DB;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 11pt;
    -fx-padding: 8px;
    -fx-border-radius: 10pt;
}

.button:hover {
    -fx-background-color: #51A7E0;
}

.title {
    -fx-font-family: 'Lato-Light';
    -fx-font-size: 17pt;
}

.input-label {
    -fx-font-family: 'Lato-Regular';
    -fx-text-fill: #444444;
    -fx-font-size: 12pt;
}

.input-field {
    -fx-font-family: 'Lato-Regular';
    -fx-text-fill: #444444;
}

.errors-area {
    -fx-background-color: #C0392B;
    -fx-padding: 8px;
    -fx-text-fill: #FFFFFF;
}

.success-area {
    -fx-background-color: #27AE60;
    -fx-padding: 8px;
    -fx-text-fill: #FFFFFF;
}